<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="../../../vendor/autoload.php"
         colors="true"
         cacheResultFile="/tmp/.iranimij-core.phpunit.cache">
    <testsuites>
        <testsuite name="Iranimij_Core">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
